<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gradle Spring Demo</title>
</head>
<body>
    <h1 th:text="${message}"></h1>
</body>
</html>